@page
@model WebApplication1.Pages.GebruikersAanpassen
@{
}

@if (Model.GebruikerInformatie != null)
{
    @if (Model.GebruikerInformatie.Any())
    {

        <div class="content">
            <form method="post">
                <input asp-for="Gebruiker.Id" value="@Model.GebruikerInformatie.First().Id" type="hidden" />
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-4 my-2">
                        <h3 class="mb-3">Naam</h3>
                        <input asp-for="Gebruiker.UserName" value="@Model.GebruikerInformatie.First().UserName" class="form-control" type="text" minlength="1" maxlength="50" />

                        <div class="my-2">
                            <h3 class="mb-3">Rol</h3>
                            @foreach (var item in Model.GebruikerInformatie)
                            {
                                @if (item.rol.Contains("gebruiker"))
                                {
                                    <style>
                                        .gebruiker {
                                            display: none;
                                        }
                                    </style>
                                }
                                else if (item.rol.Contains("moderator"))
                                {
                                    <style>
                                        .mod {
                                            display: none;
                                        }
                                    </style>
                                }
                                else if (item.rol.Contains("admin"))
                                {
                                    <style>
                                        .admin {
                                            display: none;
                                        }
                                    </style>
                                }

                                <select required class="form-control" asp-for="Gebruiker.rol">
                                    <option selected>@item.rol</option>
                                    <option class="gebruiker" value="gebruiker">
                                        gebruiker
                                    </option>
                                    <option class="mod" value="moderator">
                                        moderator
                                    </option>
                                    <option class="admin" value="admin">
                                        admin
                                    </option>
                                </select>

                            }
                        </div>
                        <div class="my-2">
                            <h3 class="mb-3">E-mail</h3>
                            <input asp-for="Gebruiker.Email" value="@Model.GebruikerInformatie.First().Email" class="form-control" type="text" minlength="1" maxlength="50" />
                        </div>
                   
                    <div class="mt-3">
                        <button type="submit" class="align-content-center" asp-page="GebruikersAanpassen" asp-page-handler="Send">Versturen</button>
                    </div>
                  
                </div>
             </div>
           </form>
        </div>
        }
    }