@page
@model WebApplication1.Pages.QueryOmOverzichtTeCreeren

@{
    Layout = "Shared/_Layout";
}

<div class="row text-white">
    @foreach (var stripboek in Model.data)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row">
                <img src="@stripboek.afbeelding_url" style="width: 300px; height: 300px"/>
            </div>
            <p class="">@stripboek.naam</p>
            </div>
    }
</div>