@page
@model WebApplication1.Pages.Search

@{
    ViewData["Title"] = "SearchFunction";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form>
    <p>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter"/>
    </p>
</form>


<div class="row">
    @foreach (var uitgave in Model.Stripboeken)
    {
        <div style="background: white; border: solid 1px black" class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center flex-column">
            <img class="img-thumbnail" src="@uitgave.AfbeeldingUrl"/>
            <p class="m-auto">ISBN: @uitgave.Isbn</p>
            <p class="m-auto">Titel: @uitgave.Naam</p>
        </div>
    }
</div>


<!-- Search op naam -->
<!-- WHERE Naam LIKE '%Hier de variable die je meer geeft%' -->

