@page
@model WebApplication1.Pages.Toevoegen

@{
    ViewData["Title"] = "Toevoegen";
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/toevoegen.css"/>
<html lang="ne">
<head>
    <title>Toevoegen</title>
</head>
<body>
<div>

    <div class="container text-white">
        <br/>
        <h1 class="text-center">Stripboek Toevoegen</h1>
        <br/>
        <form method="post">
            <div class="row">
                <div class="col-6">
                    <h3 >ISBN</h3>
                    <input class="form-control" asp-for="Uitgaves.isbn" value="" type="text" placeholder="9032005235"/>
                </div>
                <div class="col-6">
                    <h3 >Reeks</h3>
                    <input class="form-control" asp-for="Reeks.reeks_naam" value="" type="text" placeholder="Donald Duck"/>
                    <span asp-validation-for="Reeks.reeks_naam"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3 >Titel</h3>
                    <input class="form-control" asp-for="Uitgaves.naam" type="text" placeholder="Als Cowboy"/>
                    <span asp-validation-for="Uitgaves.naam"></span>
                </div>
                <div class="col-6">
                    <h3 >Datum</h3>
                    <input class="form-control" asp-for="Uitgaves.jaar" asp-format="{0:yyyy-MM-dd}"/>
                    <span asp-validation-for="Uitgaves.jaar"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <h3 >Hoogte</h3>
                    <input class="form-control" asp-for="Uitgaves.hoogte" value="" type="text" placeholder="22 (cm)"/>
                </div>
                <div class="col-6">
                    <h3 >Prijs</h3>
                    <input class="form-control" asp-for="Uitgaves.prijs" value="" type="text" placeholder="5,99 (euro)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3 >Uitgever</h3>
                    <input class="form-control" asp-for="Uitgaves.uitgever" type="text" placeholder="DPG Media"/>
                </div>
                <div class="col-6">
                    <h3 class=" mx-auto">Sensueel</h3>
                    <br/>
                    <input class="mx-auto" asp-for="Uitgaves.nsfw" type="checkbox"/>
                </div>
            </div>
            <br/>
            <div class="col-3 mx-auto">
                <button type="submit" class="form-control align-content-center" asp-page-handler="Send">Versturen</button>
            </div>
        </form>

    </div>


</div>
</body>
</html>